<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cit.myapplication">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sign"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/sign"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_MonAn"></activity>
        <activity android:name=".Activity_KhuVuc" />
        <activity android:name=".Activity_HoaDon" />
        <activity android:name=".Activity_TrangChu" />
        <activity android:name=".Activity_Login" />
        <activity android:name=".Activity_TrangThai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>